In [1]:
#!/usr/declass/env/bin/python
# -*- coding: utf-8 -*-

import os
import sys
import pymysql
import codecs
import ConfigParser
import pandas as pd
from pandas.api.types import is_string_dtype


config = ConfigParser.RawConfigParser()
config.readfp(open(r'../mylogin.cnf'))
db_user = config.get('client', 'user')
db_pass = config.get('client', 'password')

cables_db = pymysql.connect(host='history-lab.org', user=db_user, passwd=db_pass, db="declassification_cables", charset='utf8')

In [2]:
tables = pd.read_sql("SHOW TABLES;", con=cables_db)
tables = list(tables['Tables_in_declassification_cables'].values.astype(str))
tables

['classification_countries',
 'classification_doc',
 'classifications',
 'concept_doc',
 'concepts',
 'countries',
 'country_doc',
 'doc_counts',
 'docs',
 'from_to_sum',
 'network_docs',
 'network_nodes',
 'office_doc',
 'offices',
 'person_doc',
 'persons',
 'reference_doc',
 'tag_doc',
 'tag_doc_staging',
 'tagname_doc',
 'tagnames',
 'tags',
 'tags_staging',
 'tokens',
 'top_classifications',
 'top_countries',
 'top_network',
 'top_persons',
 'top_topics',
 'topic_doc',
 'topic_token',
 'topics',
 'urgency',
 'urgency_doc']

In [3]:
def markdown_table(df):
    fmt = ['---' for i in range(len(df.columns))]
    df_fmt = pd.DataFrame([fmt], columns=df.columns)
    df_formatted = pd.concat([df_fmt, df])
    return df_formatted.to_csv(sep="|", index=False, encoding='utf-8', quotechar="*")

In [4]:
def preview(tables):
    all_tables_string = "### `declassification_cables` preview \n\n"
    for table in tables:
        exec("df_head = pd.read_sql('SELECT * FROM ' + table + ' LIMIT 5;', con=cables_db)")
        for col in df_head.columns:
            if is_string_dtype(df_head[col]):
                df_head[col] = df_head[col].str[:200].replace('\n',' ', regex=True)
        all_tables_string += "#### `" + table + "`\n\n" + markdown_table(df_head) + "\n\n"
    return all_tables_string

In [5]:
def print_to_md(preview):
    result_string = "# Cables Collection Overview — " + "\n\n\n" + preview
    results_filepath = "cables-preview.md"
    print "Writing results of ingestion to " + results_filepath + "..."

    try:
        os.remove(results_filepath)
    except OSError:
        pass

    f = codecs.open(results_filepath, encoding='utf-8', mode="w+")
    f.write(unicode(result_string,'utf-8'))

In [6]:
# print_to_md(preview(tables))

In [7]:
countries = pd.read_sql("SELECT * FROM countries;", con=cables_db)
countries.head()

    id            name  deleted  official  tag_id
0  004     Afghanistan      0.0       1.0   342.0
1  008         Albania      0.0       1.0   343.0
2  010      Antarctica      0.0       1.0  1346.0
3  012         Algeria      0.0       1.0   344.0
4  016  American Samoa      0.0       1.0   345.0

In [8]:
countries[countries['tag_id'].isnull()].head()

     id                         name  deleted  official  tag_id
8   031                   Azerbaijan      0.0       1.0     NaN
25  080  British Antarctic Territory      1.0       0.0     NaN
32  104                      Myanmar      0.0       1.0     NaN
34  112                      Belarus      0.0       1.0     NaN
39  132                   Cabo Verde      0.0       1.0     NaN

In [9]:
tags = pd.read_sql("SELECT * FROM tags;", con=cables_db)
tags

,id,tag,title,description,class,category,action
0,13,AART,Art In Embassies Program,Use for communications relating to the art-in-...,administration,subject,A/ART
1,14,ABLD,Buildings,Use for (1) matters pertaining to FBO appropri...,administration,subject,A/FBO
2,15,ABUD,Budget Services and Financial Systems,Use for matters relating to budget operations ...,administration,subject,A/BF
3,16,ACLM,Claims Against the USG,"Use for all claims, suits, etc brought against...",administration,subject,None
4,17,ACMM,Committes,Use for matters pertaining to the establishmen...,administration,subject,M/MO
5,18,ACMS,COMSEC Material,Use for communications discussing (a) shipment...,administration,subject,None
6,19,ACOU,Courier Operations,Use for all matters pertaining to courier oper...,administration,subject,None
7,20,ADTO,Domestic Telecommunications Operations,Use for communications discussing all aspects ...,administration,subject,None
8,21,AEMR,Emergency and Evacuation,"Use for all emergency and evacutation matters,...",administration,subject,OPR/WLG
9,22,AFAC,CRU/CCC Facilities (Communications and Records...,Use for communications discussing (a) the phys...,administration,subject,None
10,23,AFSI,Foreign Service Institute,Use for operational matters concerning trainin...,administration,subject,M/FSI
11,24,AFSP,Post Administration,Includes all matters relating to post-held fun...,administration,subject,OPR/ESC
12,25,AGAO,General Accounting Office,Use for all matters related to U.S. General Ac...,administration,subject,A/BF/OAG
13,26,AINF,Records and Data Processing Services,Use for messages concerning (1) airgram format...,administration,subject,O/FADRC
14,27,AINR,INR Program Administration,To be used on messages concerning the administ...,administration,subject,INR
15,28,ALOW,Allowances,Use for matters concerning (1) classification ...,administration,subject,A/ALS
16,29,AMED,Medical Services,Use for all medical matters relating to Foreig...,administration,subject,DG/MED
17,30,AMGT,Management and Organization,Use for matters pertaining to the establishmen...,administration,subject,S/IG
18,31,AMTC,Telecommunications Equipment Maintenance,Use for communications: (a) requesting routing...,administration,subject,ANET
19,32,ANET,Communications Circuits and Networks,Use for all matters relating to (a) acquisitio...,administration,subject,None
20,33,AODE,U.S. Overseas Direct Employment Program,For matters relating to the establishment or d...,administration,subject,M/MO
21,34,AORG,International Organization Administration,Use for messages involving administrative and ...,administration,subject,IO/EX
22,35,APER,Personnel,Use for all matters concerning Foreign Service...,administration,subject,PER/MGT/PS
23,36,APOU,Mail and Pouch,Use for communications concerning all matters ...,administration,subject,None
24,37,APUB,"Publishing, Printing, Distribution and Library...",Use for messages concerning printing and distr...,administration,subject,DG/PA
25,38,AREC,Commissary and Recreation,"Use for matters concerning the establishment, ...",administration,subject,O/OPR
26,39,AREG,Regulations and Directives,Use of messages inquiring about or suggesting ...,administration,subject,FADRC/DIR
27,40,ASCH,Overseas Schools,Use for matters concerning elementary and seco...,administration,subject,A/OS
28,41,ASEC,Security,Use for all aspects of security except communi...,administration,subject,A/SY
29,42,ASIG,Management Evaluations and Inspections,Use for subjects involving the Department's in...,administration,subject,S/IG
...,...,...,...,...,...,...,...
1719,2438,EL AL AIRLINES,None,None,None,None,None
1720,2439,PCN,None,None,None,None,None
1721,2440,CFDT,None,None,None,None,None
1722,2441,OCCIDENTAL,None,None,None,None,None
1723,2442,RAYTHEON,None,None,None,None,None
1724,2443,AIR VIETNAM,None,None,None,None,None
1725,2444,UNITED FRUIT,None,None,None,None,None
1726,2445,WHA,None,None,None,None,None
1727,2446,SMITHSONIAN INSTITUTE,None,None,None,None,None
1728,2447,PAUL TAYLOR DANCE COMPANY,None,None,None,None,None
1729,2448,FAITH & HOPE SOCIETY,None,None,None,None,None
1730,2449,EUR,None,None,None,None,None
1731,2450,ZENITH,None,None,None,None,None
1732,2451,SALZBURG,None,None,None,None,None
1733,2452,SSM,None,None,None,None,None
1734,2453,TPJMC,None,None,None,None,None
1735,2454,NATIONAL ENERGY BOARD,None,None,None,None,None
1736,2455,RCAA,None,None,None,None,None
1737,2456,NORTHWEST,None,None,None,None,None
1738,2457,ANERA,None,None,None,None,None
1739,2458,KRSKO,None,None,None,None,None
1740,2459,UNCTAD IV,None,None,None,None,None
1741,2460,DUPONT CARIBBEAN INC,None,None,None,None,None
1742,2461,JEHOVAH WITNESSES,None,None,None,None,None
1743,2462,ETHIOPIAN AIRLINES,None,None,None,None,None
1744,2463,WDC,None,None,None,None,None
1745,2464,AIRLIFT INTERNATIONAL,None,None,None,None,None
1746,2465,NJM,None,None,None,None,None
1747,2466,LONG ISLAND YOUTH ORCHESTRA,None,None,None,None,None
1748,2467,OTRAG,None,None,None,None,None

In [10]:
tag_doc = pd.read_sql("SELECT * FROM tag_doc LIMIT 100;", con=cables_db)

In [11]:
tag_doc

    tag_id           doc_id
0       13  1973KHARTO02100
1       13  1973LENING00586
2       13  1973MOGADI01397
3       13  1973NASSAU01116
4       13  1973NICOSI02503
5       13   1973PORTO01011
6       13  1973STATE155679
7       13  1973STATE186522
8       13  1973STATE209366
9       13  1973TEHRAN06634
10      13  1973TEHRAN07410
11      13  1973TRIPOL00935
12      13   1974ACCRA03876
13      13   1974ACCRA04780
14      13   1974ACCRA04915
15      13   1974ADDIS01190
16      13   1974ADDIS06423
17      13   1974AMMAN02972
18      13  1974AMSTER A-25
19      13  1974ANKARA07415
20      13  1974BANGKO02732
21      13  1974BANGKO03014
22      13  1974BOGOTA07210
23      13    1974BONN05941
24      13    1974BONN08117
25      13    1974BONN14203
26      13  1974BUCHAR03227
27      13  1974DAMASC02207
28      13  1974DANANG00310
29      13   1974DARES00479
..     ...              ...
70      13  1975MANAGU01192
71      13  1975MOSCOW08177
72      13  1975MOSCOW08424
73      13  1975MOSCOW08754
74      13   1975PORTL00165
75      13   1975PORTL00193
76      13  1975PRAGUE01915
77      13   1975SEOUL08139
78      13  1975STATE014489
79      13  1975STATE068753
80      13  1975STATE113069
81      13  1975STATE119804
82      13  1975STATE133741
83      13  1975STATE177302
84      13  1975STATE198699
85      13  1975STATE240724
86      13  1975STATE262150
87      13  1975STATE293345
88      13  1975STOCKH05120
89      13   1975TUNIS00488
90      13   1975TUNIS01322
91      13  1976ABIDJA09347
92      13   1976ACCRA06954
93      13   1976ADDIS05640
94      13   1976ADDIS10774
95      13   1976ADDIS11295
96      13  1976ANKARA02233
97      13  1976ANKARA02474
98      13  1976ASUNCI02946
99      13  1976BANGKO00691

[100 rows x 2 columns]